<div class="card_box">
	<div class="card_box_title">Transações</div>

	<div class="table_container">
		<div class="table_row">
			<p class="row_name">iFood</p>
			<p class="row_date">21/02/2022</p>
			<p class="row_value">R$ 57,86</p>
			<p class="row_method">Cartão de Crédito</p>
			<img
				src="../../../../assets/images/mastercard_icon.png"
				class="row_icon"
			/>
		</div>

		<div class="table_row">
			<p class="row_name">Combustível</p>
			<p class="row_date">19/02/2022</p>
			<p class="row_value">R$ 100,00</p>
			<p class="row_method">Dinheiro</p>
			<img
				src="../../../../assets/images/money_icon.png"
				class="row_icon"
			/>
		</div>

		<div class="table_row">
			<p class="row_name">Steam</p>
			<p class="row_date">19/02/2022</p>
			<p class="row_value">R$ 50,00</p>
			<p class="row_method">PIX</p>
			<img
				src="../../../../assets/images/pix_icon.png"
				class="row_icon"
			/>
		</div>

		<div class="table_row">
			<p class="row_name">Sorvete</p>
			<p class="row_date">18/02/2022</p>
			<p class="row_value">R$ 12,47</p>
			<p class="row_method">Dinheiro</p>
			<img
				src="../../../../assets/images/money_icon.png"
				class="row_icon"
			/>
		</div>
	</div>

	<div class="desktop_table_container">
		<div class="desktop_table_body">
			<div class="desktop_table_row">
				<div class="row_name desktop_table_cell">iFood</div>
				<div class="row_date desktop_table_cell">21/02/2022</div>
				<div class="row_value desktop_table_cell">R$ 57,86</div>
				<div class="row_method desktop_table_cell">
					Cartão de Crédito
				</div>
				<div class="desktop_table_cell">
					<img
						src="../../../../assets/images/mastercard_icon.png"
						class="row_icon"
					/>
				</div>
			</div>

			<div class="desktop_table_row">
				<div class="row_name desktop_table_cell">Combustível</div>
				<div class="row_date desktop_table_cell">19/02/2022</div>
				<div class="row_value desktop_table_cell">R$ 100,00</div>
				<div class="row_method desktop_table_cell">Dinheiro</div>
				<div class="desktop_table_cell">
					<img
						src="../../../../assets/images/money_icon.png"
						class="row_icon"
					/>
				</div>
			</div>

			<div class="desktop_table_row">
				<div class="row_name desktop_table_cell">Steam</div>
				<div class="row_date desktop_table_cell">19/02/2022</div>
				<div class="row_value desktop_table_cell">R$ 50,00</div>
				<div class="row_method desktop_table_cell">PIX</div>
				<div class="desktop_table_cell">
					<img
						src="../../../../assets/images/pix_icon.png"
						class="row_icon"
					/>
				</div>
			</div>

			<div class="desktop_table_row">
				<div class="row_name desktop_table_cell">Sorvete</div>
				<div class="row_date desktop_table_cell">18/02/2022</div>
				<div class="row_value desktop_table_cell">R$ 12,47</div>
				<div class="row_method desktop_table_cell">Dinheiro</div>
				<div class="desktop_table_cell">
					<img
						src="../../../../assets/images/money_icon.png"
						class="row_icon"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
