<div class="card_box">
	<div class="card_box_title">Resumo</div>

	<div class="chart_container">
		<app-summary-pie></app-summary-pie>
	</div>

	<div class="statistics">
		<div class="statistics_item">
			<div class="statistics_title">Diário</div>
			<div class="statistics_value">
				{{ summary?.dailyOutgoing | currency: "BRL" }}
			</div>
		</div>

		<div class="statistics_item">
			<div class="statistics_title">Semanal</div>
			<div class="statistics_value">
				{{ summary?.weeklyOutgoing | currency: "BRL" }}
			</div>
		</div>

		<div class="statistics_item">
			<div class="statistics_title">Mensal</div>
			<div class="statistics_value">
				{{ summary?.monthOutgoing | currency: "BRL" }}
			</div>
		</div>
	</div>
</div>
