@import "../../../../assets/styles/variables.scss";

.statistics {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.statistics_title {
	color: $text-color-secondary;
	margin-bottom: 5px;
}

.statistics_value {
	font-size: 1.2rem;
	line-height: 1.2rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
