<div class="card_box">
	<div class="card_box_title">Resumo de Março</div>

	<div class="chart_container">
		<app-summary-doughnut></app-summary-doughnut>
	</div>

	<div class="statistics" *ngIf="monthSummary$ | async as monthSummary">
		<div class="statistics_item">
			<div class="statistics_title">Diário</div>
			<div class="statistics_value">
				{{ monthSummary.dailyOutgoing | currency: "BRL" }}
			</div>
		</div>

		<div class="statistics_item">
			<div class="statistics_title">Semanal</div>
			<div class="statistics_value">
				{{ monthSummary.weeklyOutgoing | currency: "BRL" }}
			</div>
		</div>

		<div class="statistics_item">
			<div class="statistics_title">Mensal</div>
			<div class="statistics_value">
				{{ monthSummary.monthOutgoing | currency: "BRL" }}
			</div>
		</div>
	</div>
</div>
