@import "../../../../styles/variables.scss";

.chart_container {
	margin-top: 20px;
}

.statistics {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.statistics_title {
	color: $text-color-secondary;
	margin-top: 30px;
	margin-bottom: 5px;
}

.statistics_value {
	font-size: 1.2rem;
	line-height: 1.2rem;
}
