@import "./variables.scss";

html,
body {
	font-family: "Work Sans", sans-serif !important;
	background-color: black !important;
	color: $text-color-primary !important;
	user-select: none !important;
}

.card_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
	padding: 15px;

	color: $text-color-primary;
	background-color: $background-color-secondary;

	border-radius: $border-radius;
}

.card_box_title {
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 500;
}

.nsm-content {
	border-radius: 5px !important;
	background-color: $background-color-secondary !important;

	h3 {
		color: white !important;
	}

	.nsm-dialog-btn-close {
		color: white !important;
	}
}

.label {
	color: white !important;
	font-weight: 400 !important;
}

.select select,
.textarea,
.input {
	background-color: $background-color-clear !important;
	border-color: $background-color-primary !important;
	color: white !important;
}

.select select::placeholder,
.textarea::placeholder,
.input::placeholder {
	color: $text-color-secondary !important;
}

.select,
select {
	width: 100% !important;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.card_box {
		padding: 25px;
	}

	.card_box_title {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}
