// Colors
$color-primary: #2946a9;

$text-color-primary: #fff;
$text-color-secondary: #a2a8b5;

$border-color: #3c3d43;

$background-color-primary: #17191b;
$background-color-secondary: #26272e;
$background-color-clear: #3c3d43;
$background-color-sidebar: #111315;

$gradient-primary: linear-gradient(
	120deg,
	rgba(66, 94, 189, 1) 0%,
	rgba(31, 61, 161, 1) 100%
);

$gradient-pressed: linear-gradient(
	0deg,
	rgba(66, 94, 189, 1) 0%,
	rgba(31, 61, 161, 1) 100%
);

$border-radius: 10px;
$transition: 0.2s;
