.chart_container {
	margin-top: 10px;
}

.top_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.legend_container {
		display: flex;
		margin-top: 20px;

		.income_container,
		.outcome_container {
			display: flex;
			align-items: center;
		}

		.outcome_container {
			margin-left: 15px;
		}

		.income_point,
		.outcome_point {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.top_container {
		flex-wrap: nowrap;

		.legend_container {
			margin-top: 0px;
		}
	}
}

// Large device half screen (desktops, 880px and up)
@media (min-width: 880px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
