.top_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.legend_container {
		display: flex;
		margin-top: 20px;

		.income_container,
		.outcome_container {
			display: flex;
			align-items: center;

			.income_point {
				background-color: #2946a9;
			}

			.outcome_point {
				background-color: #c36669;
			}

			.point {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}

		.outcome_container {
			margin-left: 15px;
		}
	}
}

.chart_container {
	margin-top: 10px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.top_container {
		flex-wrap: nowrap;

		.legend_container {
			margin-top: 0px;
		}
	}
}
