@import "../../../../styles/variables.scss";

.user_container {
	display: flex;
	align-items: center;
}

.avatar {
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.avatar {
		width: 45px;
		height: 45px;
	}
}
