canvas {
	width: 100% !important;
	height: 265px !important;
}

.chart_container {
	padding-right: 10px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	canvas {
		height: 400px !important;
	}
}

// Large device half screen (desktops, 880px and up)
@media (min-width: 880px) {
	canvas {
		height: 450px !important;
	}

	.chart_container {
		padding-right: 0px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	canvas {
		height: 400px !important;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	canvas {
		height: 450px !important;
	}
}
