@import "../../../../styles/variables.scss";

.topbar_container {
	background-color: $background-color-primary;

	display: flex;
	align-items: center;

	padding-top: 25px;
	padding-left: 20px;
	padding-right: 25px;

	color: $text-color-primary;
}

.topbar_title {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5rem;
	flex-grow: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.topbar_container {
		padding-top: 30px;
	}

	.topbar_title {
		font-weight: 600;
		font-size: 2rem;
		flex-grow: 1;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
