@import "./variables.scss";

html,
body {
	font-family: "Work Sans", sans-serif !important;
	background-color: #000 !important;
	color: $text-color-dark !important;
}

.card_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
	padding: 15px;

	color: $text-color-dark;
	background-color: $color-secondary;

	border-radius: 10px;

	// border: 1px solid $border-color;
}

.card_box_title {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin-bottom: 20px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.card_box {
		padding: 25px;
	}
}
