// Colors
$color-primary: #f24646;
$color-secondary: #28292d;

$background-color-clear: #ececec;
$background-color-dark: #151618;
$background-color-secondary: #d3d3d3;

$text-color-primary: #ebebeb;
$text-color-secondary: #7f828a;
$text-color-dark: #151618;
