$mainColor: #ff4b3e;
$secondColor: #3f3f3f;
$thirdColor: #1a1a1a;
$fourthColor: #d3d3d3;
$fifthColor: #2b2b2b;

$backgroundColor: #f5f5f5;

$textColor-primary: #fff;
$textColor-secondary: $fourthColor;

$sidebarBackgroud: $fifthColor;
$sidebarItemBackground: $secondColor;
