// Colors
$color-primary: #2946a9;
$color-secondary: #26272e;

$background-color: #111315;
$background-color-clear: #181a1c;

$border-color: #ececec;

$text-color-primary: #fff;
$text-color-secondary: #a2a8b5;
$text-color-dark: #fff;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large device half screen (desktops, 880px and up)
@media (min-width: 880px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
