<div class="main_content">
	<div class="grid_header" *ngIf="$expenseSummary | async as expenseSummary">
		<div class="minicard_balance">
			<app-mini-card
				title="Balanço"
				[value]="expenseSummary?.balance || 0"
				[dark]="true"
			></app-mini-card>
		</div>
		<div class="minicard_income">
			<app-mini-card
				title="Entrada"
				[value]="expenseSummary?.income || 0"
			></app-mini-card>
		</div>
		<div class="minicard_outgoing">
			<app-mini-card
				title="Saída"
				[value]="expenseSummary?.outgoing || 0"
			></app-mini-card>
		</div>
		<div class="minicard_savings">
			<app-mini-card
				title="Poupança"
				[value]="expenseSummary?.savings || 0"
			></app-mini-card>
		</div>
	</div>
	<div class="grid_main">
		<div class="summary">
			<app-summary-card></app-summary-card>
		</div>
		<div class="overview">
			<app-overview-card></app-overview-card>
		</div>
		<div class="transactions">
			<app-transactions-card></app-transactions-card>
		</div>
	</div>
</div>
