@import "../../../styles/variables.scss";

.main_content {
	background-color: $background-color-primary;
	padding: 15px;
}

.minicard_balance {
	grid-area: minicard_balance;
}
.minicard_income {
	grid-area: minicard_income;
}
.minicard_outgoing {
	grid-area: minicard_outgoing;
}
.minicard_savings {
	grid-area: minicard_savings;
}
.summary {
	grid-area: summary;
}
.overview {
	grid-area: overview;
}
.transactions {
	grid-area: transactions;
}

.grid_header {
	display: grid;
	gap: 15px;
	grid-template-areas: "minicard_balance" "minicard_income" "minicard_outgoing" "minicard_savings";
}

.grid_main {
	margin-top: 15px;
	display: grid;
	gap: 15px;
	grid-template-areas: "overview" "summary" "transactions";
}

.add_button_container {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: flex-end;

	.add_button {
		z-index: 2;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.grid_header {
		grid-template-areas: "minicard_balance minicard_income" "minicard_outgoing minicard_savings";
	}
}

// Large device half screen (desktops, 880px and up)
@media (min-width: 880px) {
	.grid_header {
		grid-template-areas: "minicard_balance minicard_income" "minicard_outgoing minicard_savings";
		gap: 25px;
	}

	.grid_main {
		grid-template-areas: "overview summary" "transactions transactions";
		gap: 25px;
		margin-top: 25px;
	}

	.main_content {
		padding: 25px;
	}

	.summary {
		min-width: 265px;
	}

	.add_button {
		margin-right: 30px;
		margin-bottom: 20px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.grid_main {
		grid-template-areas: "overview overview summary" "transactions transactions transactions";
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1250px) {
	.grid_header {
		grid-template-areas: "minicard_balance minicard_income minicard_outgoing minicard_savings";
	}
}
