@import "../../../assets/styles/variables.scss";

.main_content {
	background-color: $background-color-primary;
	padding: 15px;
}

.minicard_balance {
	grid-area: minicard_balance;
}
.minicard_income {
	grid-area: minicard_income;
}
.minicard_outgoing {
	grid-area: minicard_outgoing;
}
.minicard_savings {
	grid-area: minicard_savings;
}
.summary {
	grid-area: summary;
}
.overview {
	grid-area: overview;
}

.grid_header {
	display: grid;
	gap: 24px;
	grid-template-areas: "minicard_balance" "minicard_income" "minicard_outgoing" "minicard_savings";
}

.grid_main {
	margin-top: 24px;
	display: grid;
	gap: 24px;
	grid-template-areas: "overview" "summary";
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.grid_header {
		grid-template-areas: "minicard_balance minicard_income" "minicard_outgoing minicard_savings";
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large device half screen (desktops, 880px and up)
@media (min-width: 880px) {
	.grid_header {
		grid-template-areas: "minicard_balance minicard_income minicard_outgoing minicard_savings";
	}

	.grid_main {
		grid-template-areas: "overview summary";
	}

	.main_content {
		padding: 25px;
	}

	.summary {
		min-width: 265px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.grid_main {
		grid-template-areas: "overview overview summary";
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
