<div class="main_content">
	<div class="grid_header">
		<div class="minicard_balance">
			<app-mini-card
				title="Balanço"
				[value]="balance"
				[dark]="true"
			></app-mini-card>
		</div>
		<div class="minicard_income">
			<app-mini-card title="Entrada" [value]="income"></app-mini-card>
		</div>
		<div class="minicard_outgoing">
			<app-mini-card title="Saída" [value]="outgoing"></app-mini-card>
		</div>
		<div class="minicard_savings">
			<app-mini-card title="Poupança" [value]="12658.45"></app-mini-card>
		</div>
	</div>
	<div class="grid_main">
		<div class="summary">
			<app-summary-card></app-summary-card>
		</div>
		<div class="overview">
			<app-overview-card></app-overview-card>
		</div>
	</div>
</div>
