@import "../../../../assets/styles/variables.scss";

.box {
	padding-top: 15px !important;
	border-top: 5px solid white;
}

.box--dark {
	border-top: 5px solid $color-primary;
	background-color: $background-color-dark;
	color: $text-color-primary !important;

	.minicard_title {
		color: $background-color-clear !important;
	}
}

.minicard_title {
	font-size: 1.1rem;
}

.minicard_value {
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 600;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.minicard_title {
		font-size: 1.2rem;
	}

	.minicard_value {
		font-size: 1.6rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
