@import "../../../../styles/variables.scss";

.card_box--dark {
	background: $gradient-primary;
	box-shadow: 0px 15px 31px -16px $color-primary;

	.minicard_title {
		color: $text-color-primary;
	}
}

.minicard_title {
	color: $text-color-secondary;
	font-size: 1.1rem;
	line-height: 1.1rem;
}

.minicard_value {
	font-size: 1.6rem;
	line-height: 1.6rem;
	height: 1.6rem;

	font-weight: 600;
	margin-top: 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.minicard_title {
		font-size: 1.1rem;
		line-height: 1.1rem;
	}

	.minicard_value {
		line-height: 1.8rem;
		font-size: 1.8rem;
		height: 1.8rem;
	}
}
