@import "../../../../assets/styles/variables.scss";

.card_box {
	padding-top: 10px !important;
	border-top: 1px solid $border-color;
}

.card_box--dark {
	border-top: 5px solid $color-primary;
	background-color: $background-color;
	color: $text-color-primary !important;

	.minicard_title {
		margin-top: -4px;
		color: $text-color-primary !important;
	}
}

.minicard_title {
	color: $text-color-secondary;
	font-size: 1.1rem;
	line-height: 1.1rem;
}

.minicard_value {
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 600;
	margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.minicard_title {
		font-size: 1.1rem;
		line-height: 1.1rem;
	}

	.minicard_value {
		line-height: 1.8rem;
		font-size: 1.8rem;
	}

	.card_box {
		padding-top: 20px !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
